html{
   scroll-behavior: smooth;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(221,222,212);
}

* {
  font-family: marigny, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  z-index: 0;
}

/* -------------Navigation bar------------------ */
#navigationBar {
  width: 100%;
  box-shadow: 5px 5px 15px 5px #000000;
  position: fixed;
  z-index: 999999;
}

nav {
  max-height: 100px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(221, 222, 212);
}

.navMobile{
  display: none;
}

.mobileNavToggle {
  display: none;
}

.iconsNavigation li {
  display: inline-block;
}

nav ul li, .nav-link {
  list-style-type: none !important;
  padding: 0 10px !important;
}

a {
  text-decoration: none;
}

a.home {
  color: black !important;
}

a.navItem {
  color: rgb(0, 0, 0, 0.7) !important;
}

a.navItem:hover {
  color: black !important;
}

img#logo {
  max-width: 100% !important;
  max-height: 100% !important;
}

#logo {
  width: 200px !important;
  height: auto !important;
}

/* Navigation icons */
.icons {
  color: rgb(0, 0, 0, 0.7);
}

.icons:hover {
  color: rgb(0, 0, 0);
}

.languageIcon {
  border-left: 1px solid black;
  padding-left: 10px;
}

.languageContainer {
position: fixed;
  z-index: 99999;
  opacity: 0;
  right: 30px;
  top: 130px;
  background-color: rgb(221, 222, 212, 1);
  border-radius: 15px;
  box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.87);
  color: rgb(75, 95, 78);
  visibility: hidden;
  transition: visibility 0s linear 300ms, opacity 1s;
  padding-right: 10px;
  text-align: center;
}

.language {
  display: block;
  padding-left: 20px;
}

.language h2 {
  font-size: 1rem;
  margin-bottom: 7px;
}

.language i {
  color: rgb(75, 95, 78);
}

#close {
  border-radius: 7px;
  background-color: rgb(221, 222, 212);
  padding: 6px;
  border: 1px solid rgb(75, 95, 78);
  margin-left: -60px;
  margin-top: -20px;
  cursor: pointer;
  box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.5);
}

#close i {
  color: rgb(75, 95, 78);
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 1s;
}

/* --------------------------Quote Section--------------------------- */
#quoteZone {
  background-image: url("./images/imgQuoteBlured.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.quoteOfTheDay {
  position: absolute;
  top: 70%;
  left: 10%;
  margin: -18px 0 0 -18px;
  color: rgb(221, 222, 212);
  background-color: rgb(24, 24, 16, 0.7);
}

div.quoteContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -450px;
  box-shadow: 5px 5px 15px 5px #000000;
  border-radius: 15px;
}

.leftContainer, .rightContainer {
  height: 450px;
  float: left;
}

.leftContainer {
  background-image: url("./images/imgQuote.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgb(24, 24, 16);
  width: 850px;
  border-radius: 15px;
}

.rightContainer {
  position: absolute;
  left: 60%;
  z-index: -1;
  width: 450px;
  border-radius: 100%;
  color: black;
  background-color: rgb(221, 222, 212, 0.8);
  border: 1px solid rgb(24, 24, 16);
}

.innerDisk {
  position: absolute;
  border-radius: 100%;
  background-color: rgb(24, 24, 16);
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
}

.discoverMusicBtn {
  position: absolute;
  left: 9%;
  top: 85%;
  margin: -10px 0 0 -10px;
  padding: 7px 20px 7px 20px;
  font-size: 1em;
  border-radius: 7px;
  background-color: rgb(75, 95, 78);
  color: rgb(221, 222, 212, 1);
  font-weight: bold;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
}

.discoverMusicBtn:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 7px;
  right: -20px;
  transition: 0.5s;
}

.discoverMusicBtn:hover:after {
  opacity: 1;
  right: 10px;
}

.discoverMusicBtn:hover {
  padding-left: 10px;
  padding-right: 30px;
}

/* --------------About me Section-------------------- */
#aboutMeZone {
  position: relative;
  background-color: rgb(221, 222, 212);
}

.titleAboutMe {
  display: inline-block;
  color: rgb(75, 95, 78);
  padding: 10px 100px 10px 100px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

.contentAboutMe {
  margin-top: 30px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  background-color: rgb(75, 95, 78);
  color: rgb(221, 222, 212, 1);
  font-size: 1.1em;
  width: 700px;
}

/* About me Tree */
#aboutTree {
  height: 100vh;
  width: 100vw;
  background-image: url("images/treeBg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.svgContainer {
  display: inline-block;
  position: absolute;
  padding-bottom: 0;
}

.tree {
  width: 100vw;
  height: 100vh;
}

/* tree flowers */
.story {
  position: absolute;
}

.imgFlower {
  width: 80px;
  height: auto;
  transition: transform .2s;
}

.imgFlower:hover {
  transform: scale(1.5);
}

.story1 {
  top: 20%;
  left: 25%;
}

.story2 {
  top: 35%;
  left: 30%;
}

.story3 {
  top: 25%;
  left: 35%;
}

.story4 {
  top: 40%;
  left: 40%;
}

.story5 {
  top: 24%;
  left: 45%;
}

.story6 {
  top: 20%;
  left: 60%;
}

/* Right scale */
.scale {
  position: absolute;
  height: 80vh;
  width: 5px;
  background-color: green;
  right: 63px;
  top: 110px;
}

.storyScale {
  /* rgb(201, 161, 252) */
  background-color: rgb(151, 95, 213);
  padding: 2px;
  position: absolute;
  border-radius: 7px;
  color: rgb(221, 222, 212);
  height: 30px;
  width: 30px;
}

.story1Scale {
  right: 50px;
  top: 120px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: left;
  color: white;
}

.story1Scale::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -200px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.contentVisible1::after {
  content: "3 yrs: Lorem ipsum";
  position: absolute;
  top: 5px;
  right: 0px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.story2Scale {
  right: 50px;
  top: 170px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: left;
  color: white;
}

.story2Scale:after {
  content: '';
  position: absolute;
  top: 5px;
  right: -200px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.contentVisible2::after {
  content: "10 yrs: Lorem ipsum";
  position: absolute;
  top: 5px;
  right: 0px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.story3Scale {
  right: 50px;
  top: 220px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: left;
  color: white;
}

.story3Scale:after {
  content: '';
  position: absolute;
  top: 5px;
  right: -200px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.contentVisible3::after {
  content: "14 yrs: Lorem ipsum";
  position: absolute;
  top: 5px;
  right: 0px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.story4Scale {
  right: 50px;
  top: 270px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: left;
  color: white;
}

.story4Scale:after {
  content: '';
  position: absolute;
  top: 5px;
  right: -200px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.contentVisible4::after {
  content: "16 yrs: Lorem ipsum";
  position: absolute;
  top: 5px;
  right: 0px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.story5Scale {
  right: 50px;
  top: 320px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: left;
  color: white;
}

.story5Scale::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -200px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.contentVisible5::after {
  content: "18 yrs: Lorem ipsum";
  position: absolute;
  top: 5px;
  right: 0px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.story6Scale {
  right: 50px;
  top: 370px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: left;
  color: white;
}

.story6Scale::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -200px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.contentVisible6::after {
  content: "20 yrs: Lorem ipsum";
  position: absolute;
  top: 5px;
  right: 0px;
  transition: 0.5s;
  font-weight: bold;
  left: 10px;
}

.morePaddingScale {
  padding-left: 100px;
  padding-right: 100px;
}

.treeInstruction {
  position: absolute;
  right: 20%;
  top: 60%;
  color: rgb(75, 95, 78);
}

/* -----------------------------Footer----------------------------------- */
#footer {
  background-color: rgb(75, 95, 78);
  padding: 40px 40px 150px 40px;
  text-align: center;
  align-items: center;
}

#footerH2 {
  margin-bottom: 1rem !important;
  color: rgb(221, 222, 212) !important;
  font-weight: normal !important;
  font-size: 1.3rem !important;
}

.rowCSS {
  display: inline-block !important;
}

.footerMenu {
  margin-left: 10rem !important;
  margin-bottom: 4rem !important;
}

.footerMenu p {
  color: rgb(221, 222, 212) !important;
  font-size: 1rem !important;
}

.copyright {
  border-top: 0.4px solid rgb(221, 222, 212);
  width: 900px;
  margin: 0 auto;
  padding-top: 30px;
}

.copyrightParagraph {
  font-size: 0.7rem;
  color: rgb(221, 222, 212);
}

/* -----------------------------Music page----------------------------------- */
#musicPlayer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newRelease {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.newRelease h2 {
  font-size: 2rem;
  font-weight: bold;
}

.newRelease h3 {
  font-size: 2rem;
}

.detailsNewestRelease {
  margin-left: 40px;
  color: rgb(221, 222, 212);
}

.titleLatestRelease {
  font-weight: lighter;
  color: rgb(221, 222, 212);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.latestReleaseContainer {
  position: static;
  text-align: center;
  padding-top: 150px;
}

#newestVideo {
  border-radius: 15px;
  height: 400px;
  width: auto;
  box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.87);
}

.bgMusicPlayer {
  width: 100vw;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/NewestRelease.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#originalVideosArea {
  background-color: rgb(221, 222, 212);
}

.titleVideos {
  margin-top: 50px;
  padding: 10px 50px 10px 50px;
  display: inline-block;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.titleVideos h1 {
  color: rgb(75, 95, 78);
  font-weight: bold;
}

.video {
  height: 200px;
  width: 355px;
  margin: 10px 30px 10px 30px;
  border-radius: 15px;
  box-shadow: 0px 1px 19px 1px rgba(0, 0, 0, 0.87);
}

/* Bottom music player ----------------------------*/
.bgMusicPlayerText {
  position: absolute;
  top: 50%;
  left: 100px;
  color: rgb(221, 222, 212);
}

.musicTitle {
  font-size: 3em;
}

.musicTitleParagraph {
  font-size: 1.3em;
}

.musicContainer {
  background-color: rgb(221, 222, 212);
  border-radius: 15px;
  display: flex;
  padding: 5px 30px;
  position: relative;
  z-index: 10;
  width: 100vw;
  position: fixed;
  bottom: 0px;
}

.imgContainer {
  position: relative;
  width: 110px;
}

.imgContainer::after {
  content: '';
  background-color: rgb(221, 222, 212);
  height: 20px;
  width: 20px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 50%;
  margin: 0 0 -10px -5px;
}

.imgContainer, #cover {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  bottom: 10px;
  left: 10px;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.musicContainer.play .imgContainer #cover {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigationMediaPlayer {
  display: flex;
  margin: 0 auto;
  z-index: 1;
}

.actionBtn {
  background-color: rgb(221, 222, 212);
  border: 0;
  color: rgb(151, 95, 213, 0.6);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.actionBtnBig {
  color: rgb(151, 95, 213, 0.6);
  font-size: 30px;
}

.actionBtnBig:focus {
  outline: 0;
}

.musicInfo {
  background-color: rgb(221, 222, 212, 0.6);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-inm opacity 0.3s ease-in;
}

.musicInfo h4 {
  margin: 0;
  color: rgb(75, 95, 78);
}

.musicContainer.play .musicInfo {
  opacity: 1;
  transform: translateY(-100%);
}

.progressContainer {
  background: rgb(221, 222, 212);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: rgb(151, 95, 213);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

/* Agenda Area -------------------*/
#agendaAreaDescription {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/agendaBg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

.quoteOrchestra {
  border-radius: 15px;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -500px;
  width: 1000px;
  padding: 50px 100px 50px 100px;
  color: rgb(221, 222, 212);
  background-color: rgb(0, 0, 0, 0.7);
  font-size: 1.4rem;
}

.author {
  font-weight: bold;
}

.fa-angles-down {
  position: absolute;
  top: 75%;
  color: rgb(221, 222, 212);
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

#agendaArea {
  /* background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) ), rgb(75, 95, 78); */
  background-image: url("images/musicNotesBg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.date {
  color: rgb(75, 95, 78, 1);
  border: 1px solid rgb(75, 95, 78, 0.6);
  border-right: 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: lighter;
  padding: 15px;
  border-radius: 7px;
  text-align: center;
}

.content {
  color: rgb(75, 95, 78, 1);
  margin-top: 50px;
  margin-left: 50px;
}

.locationEvent, .inline {
  display: inline-block;
}

.buyTicketBtn {
  display: block;
  background-color: rgb(151, 95, 213);
  border: 1px solid rgb(151, 95, 213);
  color: rgb(221, 222, 212);
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
}

.buyTicketBtn:hover {
  display: block;
  background-color: rgb(221, 222, 212);
  border: 1px solid rgb(221, 222, 212);
  color: rgb(75, 95, 78);
  font-size: 1rem;
  padding: 5px 10px 5px 10px;
  border-radius: 7px;
}

.events {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -214px 0 0 -232px;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-50%);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.from-right {
  transform: translateX(50%);
  transition: transform 1s ease-in, opacity 1s ease-in;
}

.from-bottom {
  transform: translateY(50%);
  transition: transform 1s ease-in, opacity 1s ease-in;
}

.from-bottom.appear, .from-right.appear, .from-left.appear {
  transform: translateX(0);
  opacity: 1;
}

/* Contact page */
#contact-form {
  background-image: url("./images/musicNotesBg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin: 0 0 0 -71px;
}

nav.navbar {
  height: 100px;
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.iconsContact {
  margin-bottom: 0 !important;
}

.formContainer {
  position: relative;
  top: 30%;
}

.form-control {
  background-color: rgb(75, 95, 78, 0.6) !important;
  color: white !important;
}

input::placeholder, textarea::placeholder {
  color: rgb(221, 222, 212) !important;
}

#buttonS {
  background-color: rgb(75, 95, 78, 0.6);
  border: none;
}

#buttonS:hover {
  background-color: rgb(75, 95, 78, 1);
  border: none;
}

#footerContact {
  background-color: rgb(75, 95, 78);
  padding: 40px 40px 40px 40px;
  text-align: center;
  align-items: center;
}

/* -------------------------------Responsive ----------------------------*/


@media screen and (max-width: 1000px) {

  nav {
    padding-left: 20% !important;
  }


  .primaryNavigation {
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
        flex-direction: column;
    inset: 0 50% 0 0;
    top: 100px;
    padding: 5rem 2rem;
    background-color: rgb(221, 222, 212, 0.9);
    box-shadow: inset 0px 1px 19px 1px rgba(0, 0, 0, 0.5);

    transform: translateX(-100%);
    transition: transform 700ms ease-out;
  }

  .primaryNavigation[data-visible="true"] {
    transform: translateX(0%);
  }

  #logo{
    display: block;
  }

  .mobileNavToggle {
    cursor: pointer;
    position: fixed;
    display: block;
    width: 2rem;
    border: 0;
    background-color: rgb(221, 222, 212);
    aspect-ratio: 1;
    top: 2rem;
    left: 2rem;
    z-index: 99999999999;
  }

  .navMobile{
    display: block;
  }
  .navDesktop{
    display: none !important;
  }

  .primaryNavigation li {
    margin-bottom: 2em;
  }

  /* Quote section */
  #quoteZone {
    height: 100vh;
    width: 100vw;
  }

  div.quoteContainer {
    position: absolute;
    margin: -25% 0 0 -40%;
    width: 80%;
  }

  .quoteOfTheDay {
    top: 60%;
  }

  .leftContainer {
    background-image: url("./images/imgQuote.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(24, 24, 16);
    width: 100%;
  }


  .leftContainer, .rightContainer {
    height: 350px !important;
  }

  /* About me section */
  #aboutMeZone{
    width: 100vw;
    height: 50vh;
    text-align: center;
    padding-top: 50px;
  }

  .aboutMeImg {
display: none;
  }

  .contentAboutMe {
    background: none;
    color: rgb(75, 95, 78, 1);

    margin: 0px auto;
    font-size: 0.9em;
    width: 450px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  /* ABout tree zone */
  #aboutTree {
    display: none;
  }

  /* Footer */

    /* Footer */
    #footer {
      background-color: rgb(75, 95, 78);
      padding: 20px 20px 40px 20px !important;
      text-align: center !important;
      align-items: center !important;
      justify-content: center;
    }

    .footerMenu p {
      margin-top: 5px;
      font-size: 0.6em !important;
    }
    .footerMenu{
      margin-top: 50px;
      margin-left: 30px !important;
    }



  .copyright {
    width: 400px;
    margin: 0 auto;
    padding-top: 10px;
  }


  /* Music page ------*/
  #newestVideo{
    height: 300px;
    width: auto;
  }

    .newRelease h1{
      font-size: 1.5rem;
      margin-bottom: 2px;
    }

    .newRelease h2{
      margin-right: 10px;
    }

    .newRelease{
      text-align: center;
      padding-top: 10px;
    }

    .textNewRelease{
      display: inline-block;
    }


  .newRelease h3, .newRelease h2 {
    font-size: 1rem;
  }

  #originalVideosArea{
    display: inline-block;
    text-align: center;
  }


  /* Agenda Section */
  #agendaAreaDescription{
    height: 100vh;
    width: 100vw;
    background-image:
    background-size: auto;
  }

  .quoteOrchestra {
    margin: -200px 0 0 -300px;
    width: 600px;
    padding: 20px 50px 20px 50px;
    font-size: 1.2rem;
  }

  #agendaArea {
    height: 100vh;
  }

  .content{
    margin-left: 0px;
  }



}



@media (min-width:700px) and (max-width:1000px) {
  #aboutMeZone{
    width: 100vw;
    height: 60vh;
  }
  .aboutMeImg {
    display: none;
    width: 100vw;
    height: 60vh;
  }

  .contentAboutMe {
    padding-left: 30px !important;
margin: 0 auto;
    font-size: 0.9em !important;
    width: 700px !important;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

}




@media screen and (min-width: 1000px) {
  nav ul li, .nav-link {
    list-style-type: none !important;
    display: inline-block !important;
  }

  .newRelease h3 span{
    display: block;
  }

  #agendaAreaDescription{
    height: 100vh !important;
  }
}



@media (min-width:1000px) and (max-width: 1400px) {
  section {
    width: 100vw;
    height: 70vh;
  }

  /* Quote zone responsive*/
  #quoteZone {
    height: 100vh !important;
    width: 100vw;
  }

  /* ABout me zone */
  #aboutMeZone {
    padding-top: 10px;
    height: 90vh;

  }

  .aboutMeImg {
    width: 100vw;
    height: 90vh;
    top: 0;
    position: absolute;
  }

  .contentAboutMe {
    padding: 30px 50px 30px 50px;
    width: 550px;
  }

  body{
    background-color: rgb(221,222,212);
  }

    /* Music page ------*/
    #newestVideo{
      height: 300px;
      width: auto;
    }

      .newRelease h1{
        font-size: 1.5rem;
        margin-bottom: 2px;
      }

      .newRelease h2{
        margin-right: 10px;
      }

      .newRelease{
        padding-top: 10px;
      }



    .newRelease h3, .newRelease h2 {
      font-size: 1rem;
    }

    #originalVideosArea{
      display: inline-block;
      text-align: center;
    }

    #agendaArea{
      height: 100vh !important;
    }


}


@media screen and (min-width: 1400px) {
  section {
    width: 100vw !important;
    height: 100vh !important;
  }

  #aboutMeZone {
    padding-top: 150px;
  }

  .aboutMeImg {
    width: 100vw;
    ;
    height: 100vh;
    top: 0;
    position: absolute;
  }

  .contentAboutMe {
    padding: 50px 100px 50px 100px;
  }

  .aboutMeArrow{
    margin-left: 50px;
  }


}
